<ul id="articles">
  {{#each articles}}
    <a href="http://www.foxnews.com{{url}}"><ol>{{headline}}</ol></a>
    <img src="{{image}}">
    <p><ol>{{summary}}</ol></p>
]

    <form>
      <textarea data-id="{{_id}}" rows="4" cols="50" placeholder="Leave a comment for others to see!"></textarea>
      <button>Submit</button>
    </form><br>

  {{/each}}
</ul>

</form>
